registry=http://artifactory.produbanbr.corp/artifactory/api/npm/npm-all        
puppeteer_download_host=http://artifactory.produbanbr.corp/artifactory/github-puppeteer/        
electron_custom_dir=""        
electron_custom_filename="electron-v1.8.7-linux-x64.zip"        
electron_mirror=http://artifactory.produbanbr.corp/artifactory/raw-downloads/electron        
puppeteer_chromium_revision=543305        
phantomjs_cdnurl=http://artifactory.produbanbr.corp/artifactory/raw-downloads        
sass_binary_site=http://artifactory.santanderbr.corp/artifactory/github-sass/download 
save-exact=true        
